@import "tailwindcss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.box:hover .description {
  display: block;
}

.description {
  display: none;
}

textarea {
  field-sizing: content;
}
