@import 'tailwindcss';

:root {
  /* Set by JS */
  --timeline-grid-cols: repeat(3, auto) 1fr;
}

.description {
  transition: 0s visibility;
  background-color: rgba(50, 50, 50, 0.95);
  color: white;
  border-color: black;
}

.box:hover .description {
  visibility: visible;
  transition-delay: 0.5s;
}

.tag:hover > div {
  visibility: visible;
}

.active {
  background-color: red;
}
